.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  font-family: 'Pacifico', cursive;
}

.btn-primary {
  background-color: #007B7F;
  border: none;
}

.btn-primary:hover {

}
/* salmon: #FF6B6B */
.btn-secondary {
  background-color: #FF6B6B;
  border: none;
}

nav {
  background: #007B7F;
}

nav a {
  color: #F5F5F5 !important;
}

#search-wrapper {
  min-width: 200px;
  max-width: 25vw;
}

li {
  list-style-type: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  color: #007B7F;
}


.dropdown-item {
  color: #333333 !important;
}

#displayed-posts-heading {
  font-size: 1.5rem;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg > div {
  background-color: white;
  height: 50vh;
  width: 40vw;
  min-width: 200px;
  box-shadow: 0 0 15px 3px black;
  border-radius: 1rem;
}

.modal-bg h1 {
  font-size: 1.8rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#close-modal {
  margin-left: 88%;
}

#close-modal {
  cursor: pointer;
}

#log-out-btn {
  white-space: nowrap;
}

@media (min-width: 500px) {
  #close-modal {
    margin-left: 90%;
  }
}

@media (min-width: 1000px) {
  #close-modal {
    margin-left: 92%;
  }
}

