.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  font-family: 'Pacifico', cursive;
}

.btn {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.btn-primary {
  background-color: #007B7F;
  border: none;
}

.btn-primary:hover, .active > .btn-primary {
  background: #007B7F;
  --bs-btn-active-bg: #007B7F;
} 

.btn-secondary {
  background-color: #FF6B6B;
  border: none;
}

.btn-secondary:hover, .active > .btn-secondary {
  background: #FF6B6B;
  --bs-btn-active-bg: #FF6B6B;
}

nav {
  background: #007B7F;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-text {
  color:#F5F5F5 !important;
}

.nav-link {
  color: #F5F5F5;
}

#search-wrapper {
  min-width: 200px;
  max-width: 25vw;
}

#hp-container {
  min-height: 63.5vh;
}

#filter-search-btn:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

.list li {
  width: 100%;
}

.card {
  min-height: 12rem;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease-in;
}

.post-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

a {
  color: #007B7F;
}


.dropdown-item {
  color: #333333 !important;
}

#displayed-posts-heading {
  font-size: 1.5rem;
}

.tox-editor-container {
  z-index: 1;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 2;
    box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg > div {
  background-color: white;
  height: 50vh;
  width: 40vw;
  min-width: 200px;
  box-shadow: 0 0 15px 3px black;
  border-radius: 1rem;
  z-index: 3;
}

.modal-bg h1 {
  font-size: 1.8rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#close-modal {
  margin-left: 88%;
}

#close-modal {
  cursor: pointer;
}

#log-out-btn {
  white-space: nowrap;
}

.pagination {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.page-link {
  background: #007B7F;
  color: white;
  border: 1px solid white;
}

.page-link:hover {
  background: #FF6B6B;
  color: white;
}

.active > .page-link {
  background: #FF6B6B;
  color: white;
  border: 1px solid white;
}

#footer-container {
  justify-content: center;
  font-size: 0.8rem;
}

.email, .github, .linkedin {
  color: white;
  transition: color 0.2s ease;
}

.email:hover, .github:hover, .linkedin:hover {
  color: #FF6B6B;
  cursor: pointer;
}

@media (min-width: 500px) {
  #close-modal {
    margin-left: 90%;
  }
  .list li {
    display: inline-block;
    width: 50%;
  }
}

@media (min-width: 530px) {
  #footer-container {
    justify-content: space-between;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  #close-modal {
    margin-left: 92%;
  }
}

