.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  font-family: 'Pacifico', cursive;
}

.btn-primary {
  background-color: #007B7F;
  border: none;
}

.btn-primary:hover {

}
/* salmon: #FF6B6B */
.btn-secondary {
  background-color: #FF6B6B;
  border: none;
}

nav {
  background: #007B7F;
}

nav a {
  color: #F5F5F5 !important;
}

#search-wrapper {
  min-width: 200px;
  max-width: 25vw;
}

li {
  list-style-type: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

.dropdown-item {
  color: #333333 !important;
}

#displayed-posts-heading {
  font-size: 1.5rem;
}
