:root {
  --primary-color: #007B7F;
  --secondary-color: #F5F5F5;
  --bs-nav-link-color: #F5F5F5;
}

body {
  margin: 0;
  background: #F5F5F5;
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
