node_modules/
npm-debug.log
yarn-error.log
package-lock.json

.env
/client/.env
/server/.env

/.idea

.vscode/

.DS_Store
Thumbs.debug

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/publish